<section id="advertise">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Advertise &amp; Contribute</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <a href= "/Adverts Business.pdf"  target="_blank" class="">
                    Instructions
                  </a>
                  <a href= "/Advert Application.pdf"  target="_blank" class="">
                    Application Form
                  </a>
                </div>
            </div>
        </div>
</section>
