<section id="advertise" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h2 class="section-heading">Advertise &amp; Contribute</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 ">
                  <p>
                    The Sedbergh Lookaround is a volunteer led community newsletter.
                    As such adverts are very attractively priced and we offer additional
                    support including a write up for new businesses.
                  </p>
                  <p>
                    There is also the opportunity to contribute an article to the
                    magazine should you be hosting an event or have some news relating to
                    your service that is of general interest.
                  </p>
                  <p>
                    If you think you might want to commission an advert please read our
                    <a href= "/Adverts%20Business.pdf"  target="_blank" class="">advertisers information sheet.</a>
                    Should you choose to go ahead, please fill out and return our
                    <a href= "/Advert%20Application.pdf"  target="_blank" class="">application form.</a>
                  </p>
                  <p>
                      For articles, we recommend contacting us with your idea prior to submitting written content.
                  </p>

                </div>
            </div>
        </div>
</section>
