{% assign issues = site.static_files | where: "issue", true %}
{% assign issues_by_year = issues |
  group_by_exp: "issue", "issue.basename | slice: -4, 4"  | reverse %}

{% for year in issues_by_year  %}

<div class="year-block list-group">
<h3></h3>
    <a data-toggle="collapse" href="#collapse{{ year.name }}">
      {{ year.name }}
    </a>
    <div id="collapse{{ year.name }}" class="panel-collapse collapse">
        {% for issue in year.items %}
            <a href="{{ issue.path }}" class="list-group-item list-group-item-action">
              {{ issue.basename }}
            </a>

        {% endfor %}
    </div>
</div>
{% endfor %}
