{% assign issues = site.static_files | where: "issue", true %}
{% assign latest_issue = issues | last  %}

<section id="latest-edition">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Latest Edition</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                      <h3>NEW ISSUE UPDATE</h3>

                      <p>
                      We aim to upload the latest issue
                      in the last week of the month
                      three weeks after the hard copy
                      is available in the shops.
                      </p>

                      <p>
                      If you live outside the circulation
                      area and would like to see the edition
                      sooner then please subscribe.
                      Details of how to subscribe can be 
                      found in the latest edition,
                      Lookaround Details section.
                      </p>

                </div>
                <div class="col-lg-4">
                  <a href="{{ latest_issue.path | uri_escape }}" class="">
                    <img src="/img/current-edition.jpg" class="img-responsive center-block" alt="Latest Edition">
                    Latest Edition: {{ latest_issue.basename }}
                  </a>
                </div>

                <div class="col-lg-4">
                    <p>You can look at our catalogue of <a href="/previous-editions">previous editions here</a>.
                </div>
            </div>
        </div>
</section>
